# Vs Code
.vscode

# Python
*.pyc

*.log

venv/

.coverage

__pycache__/

.idea/

/.idea/

docs/_build/

dist/

*.egg-info/

pip-cache/

*.tmp
*~

.DS_Store
Thumbs.db


# Vue
node_modules/
public/build/

.vite/
.vitedeps.js

.log

webpack-stats.json

tsconfig.tsbuildinfo

.snowpack/